/* @font-face {
    font-family: "DIN Condensed Bold";
    src: url('/font/DIN Condensed Bold.eot') format('eot'),
         url('/font/DIN Condensed Bold.woff2') format('font-woff2'),
         url('/font/DIN Condensed Bold.woff') format('font-woff'),
         url('/font/DIN Condensed Bold.ttf') format('font-truetype'),
         url('/font/DIN Condensed Bold.svg#fontawesomeregular') format('svg');

}
@font-face {
    font-family: "DINAlternate-Bold";
    src: url('/font/DIN Alternate Bold.eot') format('embedded-opentype'),
    url('/font/DIN Alternate Bold.woff2') format('font-woff2'),
    url('/font/DIN Alternate Bold.woff') format('font-woff'),
    url('/font/DIN Alternate Bold.ttf') format('font-truetype'),
    url('/font/DIN Alternate Bold.svg#fontawesomeregular') format('svg');
}
@font-face {
    font-family: "AmazObitaemOstrovItalic";
    src: url('font/AmazOOSTROVItalic.eot') format('embedded-opentype'),
    url('font/AmazOOSTROVItalic.woff2') format('woff2'),
    url('font/AmazOOSTROVItalic.woff') format('woff'),
    url('font/AmazOOSTROVItalic.ttf') format('truetype'),
    url('font/AmazOOSTROVItalic.svg#fontawesomeregular') format('svg');
}

@font-face {
    font-family: "JLinXin";
    src: url('font/JLinXin.eot') format('embedded-opentype'),
        url('font/JLinXin.woff2') format('woff2'),
        url('font/JLinXin.woff') format('woff'),
        url('font/JLinXin.ttf') format('truetype'),
        url('font/JLinXin.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AVSTimeCode";
    src: url('/font/AVS TimeCode.eot') format('embedded-opentype'),
    url('/font/AVS TimeCode.woff2') format('font-woff2'),
    url('/font/AVS TimeCode.woff') format('font-woff'),
    url('/font/AVS TimeCode.ttf') format('font-truetype'),
    url('/font/AVS TimeCode.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */
html,body{
    position: relative;
    /* height: 100%; */
      width: 100%;
      height: initial;
      background: #ffffff;
}
#app{
  width: 100%;
  height: 100%;
  background: #ffffff;
}

body,
div,
span,
input,
li,
ul,
ol,
img,
a,
strong,
h1,
h2,
h3,
h4,
i,
em,
p {
    margin: 0;
    padding: 0;
  font-size:14px;
  font-family:PingFangSC-Regular;
  font-weight:400;

}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

input {
    border: 0 none;
    outline: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}
h1,
h2,
h3,
h4 {
    font-weight: normal;
}
i,
em {
    font-style: normal;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
.van-uploader .van-uploader__preview-image{
  height: 62px;
  width: 62px;
}
.van-uploader .van-uploader__upload{
  height: 62px;
  width: 62px;
}
.van-uploader .van-uploader__preview-delete{
  top: 0;
  bottom: initial;
  background: url('../../src/assets/detele.png');
  width:16px;
  height:16px;
  background-size: 100% 100%;
}
.van-uploader .van-icon-delete:before{
  content:initial;
}
.van-uploader  .van-uploader__upload-icon{
  color: #E9E9E9;
  font-size: 34px;
}
.van-uploader .van-uploader__upload{
    border: 1px solid #E9E9E9;
}
.van-dialog{
  color:#333333;
}
#rentCar{
  background: #fff;
  height: initial;
  min-height: 100%;
  overflow: hidden;
}
/*统计数据*/
.statiStical{
  padding-top: 10px;
}
.statiStical h2{
  height: 60px;
  padding: 10px  36px;
}
.statiStical  h2 p{
  text-align: left;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size:28px;
  font-family:PingFangSC;
  font-weight:500;
  color:rgba(51,51,51,1);
  margin-left: 20px;
}
.statiStical  h2 span{
  height: 28px;
  width: 10px;
  background: #FF8D59;
  float: left;
  margin-top: 6px;
}
.statiStical ul{
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}
.statiStical ul li{
  flex: 1;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 1px solid #E6E8EE;
}
.statiStical ul li:nth-child(1){
  border: none;
}
.statiStical ul li div{
  margin: 0 auto;
  display: inline-block;
}
.statiStical ul li span{
  font-size:24px;
  font-family:PingFangSC;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:34px;
  text-align: left;
  display: block;
}
.statiStical ul li p{
  text-align: left;
  font-size:48px;
  font-family:PingFangSC;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:76px;
}
.conters{
  width:108px;
  height:54px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius:4px;
  padding: 10px;
  box-sizing: border-box;
}
.conters p{
  text-align: left;
  font-size:12px;
  font-family:PingFangSC;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:17px;
}
.conters2{

  height:90px;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius:8px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #ffffff;
  background:rgba(255,255,255,1);


}

.conters2 p{
  height:18px;
  font-size:12px;
  font-family:PingFangSC;
  font-weight:400;
  color:rgba(102,102,102,1);
  line-height:17px;
  text-align: left;
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
}
.conters2 p i{
  width:4px;
  height:4px;
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 6px;
}
.conters2 p:nth-child(1){
  padding-left: 5px;

}
.conters2 p:nth-child(2) i{
   background-color: #1890FF;
}
.conters2 p:nth-child(3) i{
  background-color:#FF8605;
}
.conters2 p:nth-child(4) i{
  background-color:#00BEC6;
}
.van-hairline--top-bottom::after{
  opacity: 1;
}
.van-tabbar--fixed{
  box-shadow:0px 0px 8px 0px rgba(0,0,0,0.08);


}


.van-popup,.van-popup--top{
  text-align: left;
}
.van-tabs{
  min-height: 100%;
}
.van-hairline--top-bottom::after{
   /*position: fixed!important;*/
}
.tiemList{
  height: 40px;
  width: 100%;
  display: flex;
  z-index: 9999;
}
.tiemList li{
  height: 40px;
  flex: 1;
  text-align: center;
  line-height: 40px;
  background: #FBFBFC;
  color: #999999;
  border-left: 1px solid rgba(241,241,241,1);
  border-bottom:1px solid rgba(241,241,241,1);
  font-size:12px;
  font-family:PingFangSC;
  font-weight:400;
}
.tiemList li:nth-child(1){
  border-left: none;
}
.tiemList li.active{
  background: #fff;
  border-bottom:none;
  color: #333333;
}
.tiemList2 li{
  border-top: 1px solid rgba(241,241,241,1);
}
.tiemList.tiemList2 li.active{
  background: #fff;
  border-top:none;
  border-bottom:none;
  color: #333333;
}
.tiemList3 li{
  border-top: 1px solid rgba(241,241,241,1);
  border-bottom: 1px solid rgba(241,241,241,1);
}
.tiemList.tiemList3 li.active{
  background: #fff;
  color: #333333;
  border-bottom: 1px solid rgba(241,241,241,1);
}
.van-hairline--top-bottom{
  z-index: 999999999!important;

}
.datetime{
   z-index: 999999999;
}
::-webkit-scrollbar {
  display: none;
 }
html body{
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style:none;
  /*火狐下隐藏滚动条*/
  overflow:-moz-scrollbars-none;
}

.shopDiv .van-tabs__nav.van-tabs__nav--line{
  border-bottom: 1px solid rgba(241,241,241,1)!important;
}
.van-tabbar.van-tabbar--fixed{
  z-index: 99999999999999!important;
}
.van-picker__columns{
  z-index: 999999!important;
}
.van-tabs__wrap.van-hairline--top-bottom{
  /*z-index: 9999999999999!important;*/
}
.van-sticky{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999;
  height: 44px;
  width: 100%;
}
.van-tabs__nav.van-tabs__nav--line{
  width: 100%;
}
@supports (bottom: env(safe-area-inset-bottom)) {
  .van-tabbar{
    padding-bottom: env(safe-area-inset-bottom);
    height:initial!important;
  }
  .van-tabbar .van-tabbar-item{
      height: 50px;
  }
}

#Feedback .contens h1{
  margin-top: 60px;
}

#__vconsole{
  z-index: 999999999;
}
#__vconsole .vc-switch{
  z-index: 999999999999999!important;
  bottom: 50px!important;
  right: -50px!important;
}
